name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
      with:
        submodules: recursive
    - name: Build
      run: cargo build --all-features --workspace
    - name: Build benchmarks
      run: cargo bench --no-run --all-features
    - name: Run tests
      run: cargo test --all-features
